.formContainer {
    width: 300px; /* Adjust the width as needed */
    margin: auto;
  }
  
  .formBody {
    background-color: blue;
    padding: 10px;
  }
  
  .formRow {
    margin-bottom: 10px;
  }
  
  label {
    display: inline-block;
    width: 80px; /* Adjust the width as needed */
  }
  
  textarea,
  input {
    width: 100%;
    box-sizing: border-box;
  }
  
  button {
    background-color: #4caf50; /* Green */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  